header{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    overflow: hidden;
  
    #site_title{
        text-align: center;
        color: black;
        a{
            text-decoration: none;
        }
        h1{
            margin-bottom: 0px;
        }
        h2{
            margin-top: 0px;
            font-style: oblique;
            font-size: 1.2rem;
        }
    }
    #subheader{
        display: block;
        margin-top: 15px;
            .pages{
                display: block;
                float: left;
                a:hover{
                    color: black;
                }
                a{
                    text-decoration: none;
                    color: $base; 
                    margin-right: 3px;
                    font-size: 1.05rem;
                }
            }
            .social{
                display: block;
                float: right;
                i{
                    margin-right: 3px;
                    -o-transition: .5s;
                    -ms-transition: .5s;
                    -moz-transition: .5s;
                    -webkit-transition: .5s;
                    transition: .5s;
                }
                a{
                    color: $base;
                }
            }
        }
}