@font-face{
    font-family: "helvNeuL";
    src: url("/assets/fonts/HelveticaNeueLt.ttf") format("truetype");
}

@font-face{
    font-family: "helvNeuM";
    src: url("/assets/fonts/HelveticaNeue Medium.ttf") format("truetype");
}

@font-face{
    font-family: "helvNeuB";
    src: url("/assets/fonts/Helvetica Neu Bold.ttf") format("truetype");
}

@font-face{
    font-family: "helvNeu";
    src: url("/assets/fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face{
    font-family: "helvNeuT";
    src: url("/assets/fonts/hv/HelveticaNeue-Th.otf") format("truetype");
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    a{
        text-decoration: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
}

p, ul, ol{
    font-family: 'helvNeuL', serif;
    li{
      font-family: 'helvNeuL', serif;
      font-size: 1.15rem;
    }
}

h2{
    margin-bottom: 0px;
}

h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.2rem;
}

p{
    font-size: 1.15rem;
}

a{
    font-family: 'helvNeuL', serif;
}

span {
    font-family: 'helvNeuL', serif;
    color: grey;
}